server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/onlinenote?serverTimezone=GMT
    hikari:
      username: root
      password: 123456
      driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    open-in-view: false
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MySQL8Dialect
